{% extends 'main1.html' %}
{% block title %}Service{% endblock title %}
{% load static %}
{% block head %}
{% endblock head %}
{% block body %}

<div class="content-wrap">

   
    <div class="main">
       
        <div class="content-wrap">
 
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-10 p-r-5 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>Manage Employee<span></span></h1>
                            </div><br>
                      
                                
                      
                          {% for message in messages %}
                          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            <strong>Message : </strong> {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div><br><br>
                          {% endfor %}
                          <nav class="navbar navbar-light bg-light">
                              <a class="navbar-brand" href="/admin/emp/empadd/"><i class="ti-plus info"></i> Add New Employee</a>
                            </nav><br><br>

                           {% comment %} <div class="alert alert-secondary" role="alert">
                              <a href="/admin/emp/empadd/" class="alert-link"><i class="ti-plus info"></i> Add New Employee</a>
                            </div><br><br>     {% endcomment %}
                            {% comment %} <div class="" role=""> 
                              <a href="/admin/emp/empadd/" class="alert-link"><i class="ti-plus info"></i> Add New Employee</a>
                            </div><br><br>     {% endcomment %}

                        <div class="card">
                            <div class="card-title">
                                <h4>Employee List </h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    {% if emp %}
                                    <table class="table table-hover ">
                                        <thead>
                                            <tr>
                                                <th>SrNo.</th>
                                                <th>Image</th>
                                                <th>Firstname</th>
                                                <th>LastName</th>
                                                <th>Phone</th>
                                                <th>Join Date</th>
                                                <th>Email</th>
                                                {% comment %} <th>Password</th> {% endcomment %}
                                                <th>Edit</th>
                                                <th>Delete</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in emp %}
                                            <tr>
                                                <th>{{forloop.counter}}</th>
                                                <td><img src="/media/{{i.uimg}}/" alt="" width="100" height="100" /></td>
                                                <td>{{i.first_name}}</td>
                                                <td>{{i.last_name}}</td>
                                           
                                                <td>{{i.phone}}</td>
                                                <td>{{i.date_joined}}</td>
                                                <td>{{i.email}}</td>
                                              
                                               <td> <a href="/admin/emp/empupdate/{{i.id}}/" style="color:green"><i
                                                            class=" red large material-icons">border_color</i></a>
                         

                                                </td> 
                                                 <!-- <td> <a href="#modal{{forloop.counter}}" style="color:green" data-target="#modal"><i
                                                            class=" red large material-icons"  >border_color</i></a>
                         

                                                </td> -->

                                                <td><a href="/admin/emp/empdelete/{{i.id}}" onclick="return confirm('Are you sure you want to delete this Employee?');" style="color:red"> <i
                                                            class=" red large material-icons">delete_forever</i></a>
                                                </td>

                                            </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    {% else %}
                                      <p>No Such Employee</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
         
        </div>
    </div>

</div>
  

    {% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>             {% endcomment %}
<script>


 </script>
{% endblock body %}