{% extends 'base.html' %}

{% block title %} Login {% endblock title %}
{% load static %}

{% block body %}

<body>

  {% if messages %}
  {% for message in messages %}

    {% if message.tags in 'success' %}
    <div class="alert alert-success" role="alert">
      {{ message }}
    </div> 

  {% elif message.tags in 'error'%}
    <div class="alert alert-danger" role="alert">
      {{ message }} 
    </div>

  {% endif %}
  {% endfor %}
{% endif %}

  <div class="page">
    <main class="page-content" id="perspective">
      <div class="content-wrapper">
        <div class="page-header page-header-perspective">
          <div class="page-header-left"><a class="brand" href="index.html"><img src="{% static "images/" %}logo-default-dark-200x36.png" alt="" width="200" height="36"/></a></div>
          <div class="page-header-right">
            <div id="perspective-open-menu" data-custom-toggle=".perspective-menu-toggle" data-custom-toggle-hide-on-blur="true"><span class="perspective-menu-text">Menu</span>
              <button class="perspective-menu-toggle"><span></span></button>
            </div>
          </div>
        </div>

       
        
        <div id="wrapper">
          
          
          <section class="section-xl bg-periglacial-blue text-center">
            <div class="shell">
              <div class="range range-sm-center">
                <div class="cell-sm-10 cell-md-8 cell-lg-6">
                  <div class="inset-sm-25">
                    <h3>Login</h3>

                    
                    <form class="rd-loginform" action="/admin/dashboard/" method="post">
                      {% csrf_token %}                        
                      <div class="form-group">
                        <label class="form-label-outside" for="login-email">E-mail</label>
                        <input class="form-control" id="login-email" type="email" name="loginemail"  data-constraints="@Email @Required">
                      </div>
                    
                      <div class="form-group">
                        <label class="form-label-outside" for="login-email">Password</label>
                        <input class="form-control" id="login-password" type="password" name="loginpass" data-constraints="@Required">
                      </div>
                    
                      <button class="btn btn-sm btn-primary btn-block btn-circle" type="submit" >sign in</button>
                   
                    </form>
                  
                  </div>
                </div>
              </div>
            </div>
          </section>

          
          {% comment %} <div class="divider divider-conch"></div> {% endcomment %}
         
         
          <footer class="page-footer page-footer-default">
            <div class="shell">
              <div class="range range-xs-center">
                <div class="cell-lg-10"><a class="brand" href="index.html"><img src="{% static "images/" %}logo-default-dark-200x36.png" alt="" width="200" height="36"/></a>
                  <div class="text-highlighted-wrap">
                    <p class="text-highlighted">Barbershop is a No.1 place to have a men’s haircut in San Francisco. Here you can get luxury barber experience at a reasonable price.</p>
                  </div>
                  <ul class="footer-navigation footer-navigation-horizontal">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="services.html">Services</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="shop.html">Shop</a></li>
                    <li><a href="contacts-1.html">Contacts</a></li>
                  </ul>
                  <div class="divider divider-small divider-light block-centered"></div>
                  <ul class="inline-list inline-list-md">
                    <li><a class="icon icon-xs link-gray-light fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-xs link-gray-light fa-twitter" href="#"></a></li>
                    <li><a class="icon icon-xs link-gray-light fa-youtube" href="#"></a></li>
                    <li><a class="icon icon-xs link-gray-light fa-linkedin" href="#"></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </footer>
        </div>
        <div id="perspective-content-overlay"></div>
      </div>
      <!-- RD Navbar-->
      <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-sidebar" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-sidebar" data-stick-up-clone="false">
          <div class="rd-navbar-inner">
            <div class="rd-navbar-panel">
              <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
              <div class="rd-navbar-brand"><a class="brand-name" href="index.html"><img src="{% static "images/" %}logo-default-dark-200x36.png" alt="" width="200" height="36"/></a></div>
            </div>
            <div class="rd-navbar-nav-wrap">
              <div class="rd-navbar-nav-inner">
                <ul class="rd-navbar-nav">
                  <li class="active"><a href="index.html">Home</a>
                    <ul class="rd-navbar-megamenu">
                      <li>
                        <p class="rd-megamenu-header"><a href="index.html">Home</a></p>
                        <ul class="rd-megamenu-list">
                          <li><a href="home-variant-2.html">Home variant 2</a></li>
                          <li><a href="home-variant-3.html">Home variant 3</a></li>
                        </ul>
                        <p class="rd-megamenu-header"><a href="about.html">About</a></p>
                        <ul class="rd-megamenu-list">
                          <li><a href="barbers.html">barbers</a></li>
                          <li><a href="testimonials.html">Testimonials</a></li>
                          <li><a href="faq.html">FAQ</a></li>
                        </ul>
                        <p class="rd-megamenu-header">Contact Us</p>
                        <ul class="rd-megamenu-list">
                          <li><a href="contacts-1.html">Contacts 1</a></li>
                          <li><a href="contacts-2.html">Contacts 2</a></li>
                        </ul>
                        <p class="rd-megamenu-header"><a href="services.html">Services</a></p>
                      </li>
                      <li>
                        <p class="rd-megamenu-header">Book</p>
                        <ul class="rd-megamenu-list">
                          <li><a href="step-1.html">Step 1</a></li>
                          <li><a href="step-2.html">Step 2</a></li>
                          <li><a href="step-3.html">Step 3</a></li>
                          <li><a href="step-4.html">Step 4</a></li>
                          <li><a href="finish.html">Finish</a></li>
                        </ul>
                        <p class="rd-megamenu-header">Blog</p>
                        <ul class="rd-megamenu-list">
                          <li><a href="blog.html">Blog</a></li>
                          <li><a href="single-post.html">Single post</a></li>
                        </ul>
                        <p class="rd-megamenu-header"><a href="shop.html">Shop</a></p>
                        <ul class="rd-megamenu-list">
                          <li><a href="single-product.html">Single product</a></li>
                          <li><a href="cart.html">Cart</a></li>
                          <li><a href="checkout.html">Checkout</a></li>
                        </ul>
                      </li>
                      <li>
                        <p class="rd-megamenu-header">Pages</p>
                        <ul class="rd-megamenu-list">
                          <li><a href="404-page.html">404 page</a></li>
                          <li><a href="503-page.html">503 page</a></li>
                          <li><a href="maintenance.html">Maintenance</a></li>
                          <li><a href="coming-soon.html">Coming soon</a></li>
                          <li><a href="privacy-policy.html">Privacy policy</a></li>
                        </ul>
                        <p class="rd-megamenu-header">Layouts</p>
                        <ul class="rd-megamenu-list">
                          <li><a href="header-perspective.html">Header perspective</a></li>
                          <li><a href="header-transparent.html">Header transparent</a></li>
                          <li><a href="header-fullwidth.html">Header fullwidth</a></li>
                        </ul>
                      </li>
                      <li>
                        <p class="rd-megamenu-header">Layouts</p>
                        <ul class="rd-megamenu-list">
                          <li><a href="footer-default.html">Footer default</a></li>
                          <li><a href="footer-variant-2.html">Footer variant 2</a></li>
                          <li><a href="footer-variant-3.html">Footer variant 3</a></li>
                        </ul>
                        <p class="rd-megamenu-header">Additional</p>
                        <ul class="rd-megamenu-list">
                          <li><a href="buttons.html">Buttons</a></li>
                          <li><a href="forms.html">Forms</a></li>
                          <li><a href="grid.html">Grid</a></li>
                          <li><a href="progress-bars.html">Progress Bars</a></li>
                          <li><a href="tables.html">Tables</a></li>
                          <li><a href="tabs-and-accordions.html">Tabs and Accordions</a></li>
                          <li><a href="typography.html">Typography</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="about.html">About</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="barbers.html">barbers</a>
                      </li>
                      <li><a href="testimonials.html">Testimonials</a>
                      </li>
                      <li><a href="faq.html">FAQ</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="services.html">Services</a>
                  </li>
                  <li><a href="blog.html">Blog</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="single-post.html">Single post</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="shop.html">Shop</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="single-product.html">Single product</a>
                      </li>
                      <li><a href="cart.html">Cart</a>
                      </li>
                      <li><a href="checkout.html">Checkout</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">Contacts</a>
                    <ul class="rd-navbar-dropdown">
                      <li><a href="contacts-1.html">Contacts 1</a>
                      </li>
                      <li><a href="contacts-2.html">Contacts 2</a>
                      </li>
                    </ul>
                  </li>
                </ul>
                <div class="rd-navbar-nav-footer">
                  <ul class="inline-list inline-list-md">
                    <li><a class="icon icon-xs link-gray-base fa-facebook" href="#"></a></li>
                    <li><a class="icon icon-xs link-gray-base fa-twitter" href="#"></a></li>
                    <li><a class="icon icon-xs link-gray-base fa-youtube" href="#"></a></li>
                    <li><a class="icon icon-xs link-gray-base fa-linkedin" href="#"></a></li>
                  </ul>
                </div>
                <div class="rd-navbar-secondary"><a class="btn btn-xs btn-circle btn-primary" href="/a/step1">BOOK NOW</a></div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </main>
  </div>
  <div class="snackbars" id="form-output-global"></div>
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>
          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--share" title="Share"></button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>
        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
        <div class="pswp__caption">
          <div class="pswp__caption__cent"></div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock body%}