{% extends 'cbase.html' %}
{% block title %}Service{% endblock title %}
{% load static %}
{% block head %}
{% endblock head %}
{% block body %}

<div class="content-wrap">

   
    <div class="main">
       
        <div class="content-wrap">
            <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/customer/orderhistory/">My Order History</a></li>
            <li class="breadcrumb-item active" aria-current="page">View Order</li>
        </ol>
    </nav>
 
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-10 p-r-5 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>View Order<span></span></h1>
                            </div><br>
                      
                                
                      
                          {% for message in messages %}
                          <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            <strong>Message : </strong> {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div><br><br>
                          {% endfor %}
                        

                        <div class="card">
                            <div class="card-title">
                                <h4>Full Details Of Order</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    {% comment %} {% if order %} {% endcomment %}
                                    <table class="table table-hover ">
                                        <thead>
                                            <tr>
                                                <th>SrNo.</th>
                                                <th>ProductImage</th>
                                                <th>ProductName</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in orderitem %}
                                            <tr>
                                                <th>{{forloop.counter}}</th>
                                                <td><img src="/media/{{i.pid.pimg}}/" alt="" width="100" height="100" /></td>
                                                <td>{{i.pid.pname}}</td>
                                                <td>{{i.quantity}}</td>
                                                <td>{{i.price}}</td>
                         
                                            </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <hr><br>
                                <form action="/customer/vieworder/{{order.oid}}/" method="POST">{% csrf_token %}

                                     <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-4 col-form-label text-align-center">Recevier Name : </label>
                                        <div class="col-sm-6">
                                        <label for="staticEmai">{{order.aid.rname}}</label>

                                        </div>
                                    </div>
                                    {% comment %} <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-4 col-form-label text-align-center">Email Address : </label>
                                        <div class="col-sm-6">
                                        <label for="staticEmai">{{order.cid.email}}</label>

                                        </div>
                                    </div> {% endcomment %}
                                     <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-4 col-form-label text-align-center">Address Name : </label>
                                        <div class="col-sm-6">
                                        <label for="staticEmai">{{order.aid.address}}</label>

                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-4 col-form-label">Total Amount : </label>
                                        <div class="col-sm-6">
                                        <label for="staticEmai">{{order.total_amount}}</label>

                                        </div>
                                    </div>
                                     <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-4 col-form-label text-align-center">Order Date : </label>
                                        <div class="col-sm-6">
                                        <label for="staticEmai">{{order.order_place_date}}</label>

                                        </div>
                                    </div>
                                      <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-4 col-form-label text-align-center">Payment Mode : </label>
                                        <div class="col-sm-6">
                                        <label for="staticEmai">{{order.payment_mode}}

                                        </label>

                                        </div>
                                    </div>
                                    
                                     
                                    <div class="form-group row">
                                        <label for="staticEmail" class="col-sm-4 col-form-label text-align-center">Delivery Stutas : </label>
                                        <div class="col-sm-6">
                                        <label for="staticEmai">{{order.delivered_status}}  delivary 
                                        
                                        
                                        </label>
                                        <br>
                                      


                                        </div>
                                    </div>
                            {% comment %} <button type="submit" class="btn btn-primary ">Save</button> {% endcomment %}
                                                                          
                            </form>
                              
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
         
        </div>
    </div>

</div>
  

    {% comment %} <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>             {% endcomment %}
<script>


 </script>
{% endblock body %}