<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
</head>
<body>
    <div style="background-color: #f5f5f5; padding: 20px;">
        <div style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px;">
            <div style="text-align: center;">
            <h1>BARBERSHOP<h1>
            </div>
            <hr>
            <h1>{{ subject }} </h1>
            <p>{{ message }} </p>
            <hr>
            <p>Thank you for choosing Our Platfrom !
            <br>
                Team Barbersshop !

            </p>

        </div>
    </div>
</body>
</html>