 {% extends 'main1.html' %}
{% load static %}
{% block head %}

<!-- <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  theme meta
  <meta name="theme-name" content="focus" />
  <title>Base</title>{% block title %} {% endblock title %}</title>
  ================= Favicon ================== -->
  <!-- Standard -->
  <!-- <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff"> -->
  <!-- Retina iPad Touch Icon-->
  <!-- <link rel="apple-touch-icon" sizes="144x144" href="http://placehold.it/144.png/000/fff"> -->
  <!-- Retina iPhone Touch Icon-->
  <!-- <link rel="apple-touch-icon" sizes="114x114" href="http://placehold.it/114.png/000/fff"> -->
  <!-- Standard iPad Touch Icon-->
  <!-- <link rel="apple-touch-icon" sizes="72x72" href="http://placehold.it/72.png/000/fff"> -->
  <!-- Standard iPhone Touch Icon-->
  <!-- <link rel="apple-touch-icon" sizes="57x57" href="http://placehold.it/57.png/000/fff"> -->
  <!-- Styles -->
  <!-- {% comment %} <link href="css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet"> {% endcomment %}
  {% comment %} <link href="css/lib/chartist/chartist.min.css" rel="stylesheet">
  <link href="css/lib/owl.carousel.min.css" rel="stylesheet" /> {% endcomment %}
<link href="{% static 'cssadmin/lib/owl.carousel.min.css' %}" rel="stylesheet">

<link href="{% static 'cssadmin/lib/themify-icons.css' %}" rel="stylesheet">
<link href="{% static 'cssadmin/lib/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'cssadmin/lib/menubar/sidebar.css' %}" rel="stylesheet">
<link href="{% static 'cssadmin/lib/owl.theme.default.min.css' %}" rel="stylesheet">
<link href="{% static 'cssadmin/lib/weather-icons.css' %}" rel="stylesheet">
 <link href="{% static 'cssadmin/lib/font-awesome.min.css' %}" rel="stylesheet">
<link href="{% static 'cssadmin/lib/helper.css' %}" rel="stylesheet">
<link href="{% static 'cssadmin/style.css' %}" rel="stylesheet">
<link href="{% static 'cssadmin/style2.css' %}" rel="stylesheet">

    --> 
    {% endblock head %} 
<!-- </head> -->
{% block body %}

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 p-r-0 title-margin-right">
                    <div class="page-header">
                        <div class="page-title">
                            <h1>Hello, <span>Manba Here</span></h1>
                        </div>
                    </div>
                </div>


{% endblock body %}

